.hero {
  padding: 2.5rem 0;
}

.hero__content {
  padding: 14.3rem 9.4rem 14.4rem;
  background-image: url("../../assets/static/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.5rem;
}

.hero__info {
  width: 38.8rem;
}

.hero__title {
  font-family: "Inter";
  font-size: 3.6rem;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  margin-bottom: 3rem;
}

.hero__title span {
  color: #005fcb;
}

.hero__form label {
  display: flex;
  justify-content: space-between;
  max-width: 35.6rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.hero__form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__form input::placeholder {
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: #005fcb;
  font-size: 1.8rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.hero__btn:hover {
  background-color: #0166dafd;
}
