/* SUGGESTION */
.suggest {
  padding: 3rem 0 2rem;
}

.suggest__container {
  display: flex;
  flex-direction: column;
}

.suggest__title,
.brands__title {
  color: #000;
  font-family: "Inter";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3rem;
}

.suggest__cards {
  font-family: "Inter";
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem 1.7rem;
  margin-bottom: 5rem;
}

.suggest__link {
  align-self: center;
  color: #005fcb;
  font-size: 16px;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.suggest__link svg {
  transition: all 0.3s ease;
}

.suggest__link:hover svg {
  transform: translate(0.3rem);
}

/* BRANDS */
.brands {
  padding: 3rem 0 2rem;
}

.brands__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.brands__card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.9rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: #000000;
}

.brands__card::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #005fcb;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  right: 0;
  transition: all 0.5s ease;
}

.brands__card:hover::after {
  width: 2rem;
}

.brands__card-img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands__card-img svg {
  font-size: 2.2rem;
}

.brands__card-img svg path,
.brands__card-img svg line {
  stroke: #005fcb;
}

.brands__card-info h3 {
  font-family: "Inter-Medium";
  font-size: 1.6rem;
  line-height: normal;
}

.brands__card-info p {
  font-family: "Inter-Medium";
  font-size: 1.4rem;
  line-height: normal;
}

/* POSTER */
.poster {
  padding: 2rem 0 5rem;
}
.poster__container img {
  border-radius: 1.5rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1080px) {
  /* BRANDS */
  .brands__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 784px) {
  /* BRANDS */
  .brands__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  /* BRANDS */
  .brands__cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 620px) {
  /* HERO */
  .hero__content {
    background-position: right center;
    padding: 14.3rem 0 14.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 454px) {
  /* HERO */
  .hero__title {
    font-size: 3.2rem;
  }

  .hero__form label {
    width: 30rem;
  }
}
