.details {
  padding: 4.8rem 0;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.details__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #005fcb;
}

.details__description {
  font-size: 1.6rem;
  color: #232327b7;
  font-weight: 300;
  /* font-style: italic; */
  margin-bottom: 0.5rem;
}

.details__line {
  width: 100%;
  height: 1px;
  background: #23232733;
  margin-bottom: 0.5rem;
}

.details__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 0.5rem;
}

.details__item {
  font-size: 1.6rem;
  color: #232327;
}

.details__item span {
  color: #005fcb;
  font-weight: 600;
}

.details__price {
  font-size: 3.4rem;
  font-weight: 700;
  color: #232327;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #232327;
}

.swiper-slide:nth-child(2n) {
  background-color: #005fcb;
}

.swiper-slide:nth-child(3n) {
  background-color: #232327;
}

.swiper-slide:nth-child(4n) {
  background-color: #005fcb;
}

.swiper-slide:nth-child(5n) {
  background-color: #232327;
}

@media screen and (max-width: 830px) {
  .details-container {
    flex-direction: column;
    gap: 3rem;
  }

  .details__info {
    width: 100%;
  }
}
