.products {
  padding: 0 0 2rem;
}

.products__container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.filter {
  position: sticky;
  padding: 2.4rem 2rem;
  width: 22.1rem;
  height: 40%;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.filter__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.products button {
  cursor: pointer;
  padding: 0.4rem 1.1rem;
  border: 1px solid #005fcb;
  background-color: transparent;
  border-radius: 5px;
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}

.products button:hover {
  border-color: transparent;
  background-color: #005fcb;
  color: #fff;
}

.filter__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  margin-bottom: 1.1rem;
}

.price__title {
  margin-bottom: 1.7rem;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 0.9rem;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #005fcb;
  border-radius: 13px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 47px;
  background: #005fcb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #005fcb;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #005fcb;
  border-radius: 13px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 47px;
  background: #005fcb;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #005fcb;
  border: 0px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #005fcb;
  border: 0px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 47px;
  background: #005fcb;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #005fcb;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #005fcb;
}

.filter p {
  margin-bottom: 1rem;
}

.categories__title {
  margin-bottom: 2rem;
}

.categories__brands {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.categories__brands label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cards__container {
  width: 80%;
  font-family: "Inter";
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem 1.7rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 558px) {
  .products__container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .filter {
    width: 100%;
  }
}
