* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  height: 100%;
  font-family: "Inter-Medium";
  font-size: 1.4rem;
  line-height: 1.21;
  color: #000000;
  padding-top: 5.8rem;
}

.container {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 3rem;
}

main {
  flex-grow: 1;
}

.site-btn {
  cursor: pointer;
  padding: 0.9rem 2rem;
  background-color: #005fcb;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.site-btn:hover {
  border-color: #005fcb;
  background-color: transparent;
  color: #005fcb;
}

.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #232327;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #005fcb;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card .imgBox {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/* 
 .card .imgBox img {
 max-width: 100%;
 transition: .5s;
 }
 .card:hover .imgBox img {
 max-width: 50%;
 } */

.contentBox {
  position: relative;
  padding: 10px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.contentBox h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contentBox .price {
  font-size: 24px;
  text-decoration: underline;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  background: #005fcb;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 130px;
  width: auto;
}

/* RESPONSIVE */
@media screen and (max-width: 730px) {
  .container {
    padding: 0 1.5rem;
  }
}
