* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  height: 100%;
  font-family: "Inter-Medium";
  font-size: 1.4rem;
  line-height: 1.21;
  color: #000000;
  padding-top: 5.8rem;
}

.container {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 3rem;
}

main {
  flex-grow: 1;
}

.site-btn {
  cursor: pointer;
  padding: 0.9rem 2rem;
  background-color: #005fcb;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.site-btn:hover {
  border-color: #005fcb;
  background-color: transparent;
  color: #005fcb;
}

/* CARD */
.card {
  position: relative;
  width: 26.2rem;
  height: 42rem;
  border-radius: 10px;
}

.card__img {
  cursor: pointer;
  width: 100%;
  height: 26.5rem;
  background-color: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 25%,
    rgba(198, 198, 198, 1) 100%
  );
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card__img img {
  width: 12rem;
  transition: all 0.3s ease;
}

.card__img:hover img {
  transform: scale(1.2);
}

.card p {
  font-style: italic;
}

.card p span {
  font-weight: 700;
  font-style: normal;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
}

.card__name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: normal;
  margin-bottom: auto;
}

.price-shop {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-size: 16px;
  font-family: "Inter-Medium";
  line-height: normal;
}

/* .card__info {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
  margin-bottom: 2.5rem;
} */

/* RESPONSIVE */
@media screen and (max-width: 730px) {
  .container {
    padding: 0 1.5rem;
  }
}
